

body {
	background-image: url("images/369.jpg");
		
}
h1 {
	
	display: inline-block;	
	margin; 
}
h2 {
	
}
#all1 {
	padding: 10px;
	max-width: 50%;
	border: 5px pink; 
	margin: 50px;
	background: white;
	margin-left: 0px;
	
	
}
#all2 {
	padding: 10px;
	max-width: 50%;
	border: 5px pink; 
	margin: 50px;
	background: white;
	margin-left: 0px;
	
	
}#all3 {
	padding: 10px;
	max-width: 50%;
	border: 5px pink; 
	margin: 50px;
	background: white;
	margin-left: 0px;
	
	
}#all4 {
	padding: 10px;
	max-width: 50%;
	border: 5px pink; 
	margin: 50px;
	background: white;
	margin-left: 0px;
	
	
}#all5 {
	padding: 10px;
	max-width: 50%;
	border: 5px pink; 
	margin: 50px;
	background: white;
	margin-left: 0px;
	
}
.box {
	font-family: cursive;
	color: purple;
}
.main {
	background: purple;
	border: 2px pink;
}
